.brewing {
  border:1px solid #333;
  border-radius: 5px  5px 15px 5px;
  padding: 5px;
  background: #655740;
  margin: 5px;
}

.brewing .container{
  margin-right: 30px;
}

.brewing input{
  background: #403a30;
  border: none;
  color: #EEE;
  padding: 2px;
  border-radius: 3px;
  outline: none;
  font-size: 1.0em;
}
.brewing input.text {
  width: 250px;
}

.brewing textarea {
  background: #403a30;
  border: none;
  color: #EEE;
  padding: 2px;
  border-radius: 3px;
  outline: none;
  font-size: 1.0em;
  resize: none;
  width: 250px;
  min-height: 80px;
  overflow-y: visible;
  overflow: visible;
}
.long-text{
  display: inline-block;
}

.brewing .ingredients-container {
  background: #403a30;
  min-height: 80px;
  padding: 5px;
  min-width: 300px;
}

.brewing .ingredients-container.collapsed{
  background: #403a30;
  display: none;;
}

.brewing select {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #403a30;
  color:#EEE;
  outline: none;
  vertical-align: super;
  font-size: 1.0em;
  border:none;
}
.brewing option {
  font-size: 1.0em;
  height: 25px;
  margin-right: 5px;
  padding: 5px;
  background-color: #403a30;
  color:#EEE;
  outline: none;
}

.brewing input.small{
  margin-right: 20px;
  width: 70px;
}


.brewing td{
  font-size: 1.1em;
}

/*.brewing .short-text{
  width: 50px;
}*/

.brewing .new-ingredient{
padding-left: 3px;
}

.brewing .tab-container{
}

.brewing .content-container {
  background-color: #403a30;
}

button.toogle {
  background-color: #564e40;
  opacity: 1;
  color:#EEE;
  padding: 3px;
  font-size: 1.1em;
  border-radius: 2px 7px 0px 0px;
  border:none;
  outline: none;
}

button.toogle.selected {
  background-color: #403a30;

}

.full{
}

td{
  vertical-align: top;
  padding: 3px;
}

.one-line{
  height: 28px;
  line-height: 28px;
  overflow-y: hidden;
}

.cover{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 30px;
  background-color: rgba(64,58,48,.8);
}

.tbl{
  display: table;
  min-width: 700px;
  height: 24px;
  margin: 0px auto;
  padding: 20px;
  background-color: #655740;
  border-radius: 0px 0px 0px 0px;
}
.tbl:first-child {
  border-radius: 5px 5px 0px 0px;
}
.tbl:last-child {
  border-radius: 0px 0px 5px 5px;
}

.tbl-row{
  display: table-row;
  height: 24px;
}

.tbl-col{
  padding-bottom: 5px;
  display: table-cell;
}

.right-align{
  text-align: right;
  padding-right: 5px;
}
.cover input{
  padding: 5px;
}
.editable{
  background-color: #EEE;
  color: #111;
  height: auto;
  overflow:visible;
  padding: 5px;
  border: 2px inset;
}