body{
  margin: 0;
  background-color: #403a30;
  color: #EEE;
  font-family: sans-serif;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
a {
  color: #EEE;
  font-size: 22px;
  text-decoration: none;
}
a:hover {
  color:#FFC;
  text-decoration: underline;
}

label{
  width: 50px;
}
.separator{
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #968262;
}

.separator .title{
  font-size: 1.2em;
  text-align: center;
}

.list-container-row{
  background-color: #968262;
  min-height: 32px;
}

.list-container-row:nth-child(even){
  background-color: #b19a75;
  min-height: 32px;
}

.list-container-row .row-2{
padding-left: 5px;
}

.right{
  float: right;
}
.left {
  float: left;
}
#main {
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 25px;
  overflow: auto;
}

#header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #CCC;
}
button{
  opacity: .7;
  outline: none;

}
button:hover{
  opacity: 1;

}

button focus{
  outline: none;
}

.sub-menu{
  position: fixed;
  right: 20px;
  top:70px;
}

.ingredients{
  position: fixed;
  right: 20px;
  top: 80px;
  bottom: 30px;
  overflow: auto;
  padding: 5px;
  margin: 5px;
  width: 280px;
  min-height: 200px;
  background-color: #655740;
}

.ingredients .row {
}
.ingredients .description{
  background-color: #b7a280;
  padding: 10px 10px;
  border-radius: 3px;
  border-left: 1px solid #403a30;
}

.add-ingrediens{
  position: fixed;
  right: 25px;
  top: 85px;
  border-radius: 5px;
  width: 290px;
  min-height: 150px;
  border: 1px solid #333;
  padding: 5px;
  background-color: #7d6c51;
}



.brewings {
  overflow: auto;
}
.brewing-title{
  font-size: 20px;
  font-weight: bold;
}
.brewing-toolbar{
  text-align: right;
  float: right;
}
.editable{
  min-height: 20px;
  padding-left: 6px;
}
.brewing-container:focus {
  background: #EEE;
}

.save-btn{
  background: none;
  background-image: url(../images/save.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}
li span{
  display: inline-block;
  width: 100px;
}

.edit-brewing label {
  border: none;
  border-right: none;
  color: #EEE;
  font-size: 1.2em;
  padding: 3px;
}

.edit-brewing input textarea{
  background-color: #887557;
  border: 1px solid #403a30;
  outline: none;
  color: #EEE;
  padding: 3px;
  font-size: 1.1em;
  resize: none;
}

.edit-brewing .name{
  width: 300px;
  margin-right: 20px;
}


.edit-brewing .description{
  padding: 5px;
  width: 300px;
  min-height: 100px;
  overflow-y: visible;
}
.edit-brewing .container{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #b19a75;
  border:1px solid #444;
}

.edit-brewing .header{
  margin-bottom: 7px;
}

button.edit{
  background: none;
  background-image: url(../images/edit.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

button.add{
  background: none;
  background-image: url(../images/add.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

button.save {
  background: none;
  background-image: url(../images/save.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

button.text-save {
  background: #c3ab84;
  border-radius: 5px;
  background-image: url(../images/save.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 5px;
  padding-right: 24px;
  height: 24px;
  border: none;
  color: #EEE;
  cursor: pointer;
}

button.text-cancel {
  background: #c3ab84;
  border-radius: 5px;
  background-image: url(../images/close.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 5px;
  margin-right: 5px;
  padding-right: 24px;
  height: 24px;
  border: none;
  color: #EEE;
  cursor: pointer;
}

button.remove {
  background: none;
  background-image: url(../images/remove.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

button.info {
  background: none;
  background-image: url(../images/info.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

button.toggle {
  background: none;
  background-image: url(../images/toggle.png);
  background-size: 18px 36px;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
}

button.toggle.up {
  background-position: 0px -18px;
}
button.toggle.down {
  background-position: 0px 0px;
}


.add-btn{
  background: none;
  background-image: url(../images/add.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

button.close {
  background: none;
  background-image: url(../images/close.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}


.header-logo{
  font-size: 24px;
  padding: 10px;
}
#header a{
  height: 60px;
  border-left: 1px solid #CCC;
  line-height: 60px;
  padding: 10px;
  margin: 0;
}

#header a:hover{
  color: #333;
  background-color: #FFC;
}

#header a:active{
  color: #333;
  background-color: #FFC;
}

#footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
  text-align: right;
  padding-right: 10px;
}

.login-base{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#login{
  display: inline-block;
}

.login input {
  height: 17px;
  width: 70px;
  margin-right: 2px;
  text-align: center;

}

#logout{
  display: inline-block;
}
.login-username{
  margin-right: 5px;
}

#login-btn{
  width: 24px;
  height: 24px;
  border: none;
  color: #000;
  border-radius: 3px;
  outline: none;
  background: url(../images/login.png);
  background-size: 24px;
  cursor: pointer;
}

#logout-btn{
  width: 24px;
  height: 24px;
  border: none;
  color: #000;
  border-radius: 3px;
  outline: none;
  background: url(../images/logout.png);
  background-size: 24px;
  cursor: pointer;
}

.og, .fg, .ibu, .tap {
  width: 50px;
  text-align: center;
}
.editable{
  content
}
.hide {
  display: none !important;
}

.menuitem{
  cursor: pointer;
}

.tapp {
  position: fixed;
  background: #d07c26;
  padding: 20px;
  margin: 10px;
  width: calc(33% - 60px);
  top:110px;
  bottom: 30px;
  text-align: center;
}

.tap-left{
  border-radius: 20px 120px 20px 120px;
}
.tap-mid {
  border-radius: 20px 20px 120px 120px;
  left: 33.333%;
}

.tap-right {
  border-radius: 120px 20px 120px 20px;
  left: 66.666%;
}
.tap-description{
  margin-top: 5px;
  margin-bottom: 20px;
}


.thermostat-on{
  background: #0F0;
  border: none;
  color: #111;
  width: 30px;
  outline: none;
  border-radius: 3px;
}

.thermostat-off{
  background: #F00;
  width: 30px;
  border: none;
  color: #EEE;
  border-radius: 3px;
  outline: none;
}

.thermostat-graph {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: none;
  color: #000;
  border-radius: 3px;
  outline: none;
  display: inline-block;
  background: url(../images/graph.png);
  background-size: 24px;

}

.thermostat-status {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: none;
  color: #000;
  border-radius: 3px;
  outline: none;
  display: inline-block;
}


.thermostat-status.heating{
  background: url(../images/heating.png);
  background-size: 24px;
  opacity: .3;
}

.thermostat-status.cooling{
  background: url(../images/cooling.png);
  background-size: 24px;
  opacity: .3;
}
.thermostat-status.active{
  animation:bounceIn 2s infinite;
}

@keyframes bounceIn {
  0% {
    opacity: .3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}


.thermostats{
  text-align: center;
  width: 100%;
}

.thermostat-admin{
  position: fixed;
  background: #000;
  padding:5px;
  border-radius: 5px;
  border: 1px solid #EEE;
  text-align: right;
  z-index: 2;
}

.admin-row {
 line-height: 23px;
}
.admin-row-title{

  margin-right: 5px;
  vertical-align: super;
}

.admin-target-temperature{
  width: 60px;
  height: 22px;
  outline: none;
  border: 1px solid #c3cee4;
  border-radius: 5px;
  background-color: #111;
  color:#c3cee4;
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
}
.heat-cool-button{
  width: 64px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #c3cee4;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  background-color: #111;
}

.heat-cool-button.heat {
  background-image: url(../images/admin-heating.png);
  background-size: 58px 24px;
}

.heat-cool-button.cool{
  background-image: url(../images/admin-cooling.png);
  background-size: 58px 24px;
}

.on-off-button {
  width: 64px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #c3cee4;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  background-color: #111;
}
.on-off-button.on {
  background-image: url(../images/admin-on.png);
  background-size: 62px 28px;
}
.on-off-button.off {
  background-image: url(../images/admin-off.png);
  background-size: 62px 28px;
}

.thermostat-lcd {
  background: #000000;
  background: -moz-linear-gradient(top,  #000000 0%, #282821 31%, #000000 100%);
  background: -webkit-linear-gradient(top,  #000000 0%,#282821 31%,#000000 100%);
  background: linear-gradient(to bottom,  #000000 0%,#282821 31%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  overflow: hidden;
  height: 88px;
  display: inline-block;
  width: 25%;
  text-align: center;
  margin: 10px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #EEE;
}

.thermostat-lcd.inactive{
  background: #222;
}

.thermostat-header{
  text-align: center;
}

.thermostat-title {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #c3cee4;
}

.thermostat-footer{
  text-align: right;
}
.thermostat-subtitle {
  font-size: 12px;
  margin-top: 4px;
  color:#00a9ff;
}
.thermostat-mid div{
  display: inline-block;
}
.thermostat-mid {
  margin-top: 0px;
  font-size: 18px;
  color:#00a9ff;
}


.thermostat-edit-btn {
  background: url(../images/edit.png);
  background-size: 24px;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: none;
  color: #000;
  border-radius: 3px;
  outline: none;
  display: inline-block;
}

.statistic-cover{
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #403a30;
  opacity: .8;
}
.statistic-container{
  position: fixed;
  z-index: 10;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #000000;
  background: -moz-linear-gradient(top,  #000000 0%, #282821 31%, #000000 100%);
  background: -webkit-linear-gradient(top,  #000000 0%,#282821 31%,#000000 100%);
  background: linear-gradient(to bottom,  #000000 0%,#282821 31%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  border-radius: 5px;
}

.statistic-title {
  font-size: 1.3em;
  line-height: 30px;
}
.statistic-canvas {
  background-color: #EEE;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  border-radius: 5px;
  margin: 20px;
}

.statistic-header {
  padding: 5px;
  height: 30px;
  text-align: center;
}
.statistic-close{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #F00;
  border: 1px solid #EEE;
  color: #EEE;
  font-size: 10px;
}

.notifications {
  position: fixed;
  bottom: 0px;
  left: 20px;
  text-align: center;
  right:20px;
}
.notifications .varning{
  background-color: #FF0;
  display: inline-block;
  padding:5px;
  min-width: 200px;
  color: #333;
}
